---
import { Icon } from 'astro-icon/components';
import Container from '../core/Container.astro';
import Plug from './Plug.astro';

const { footerSocials, copyrightName, background, color, showPlug: showPlug = true } =
  Astro.props;
---

<footer
  style={background && `--footer-bg:${background}; --footer-color:${color}`}
>
  <Container>
    <div class="footer-grid__container">
      <div class="footer-brand__container">
        <div>
          <slot name="logo" />
        </div>
        <ul class="footer-socials__list">
          {
            footerSocials.map((social) => (
              <li class="footer-socials__item">
                <a
                  href={social.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer-socials__link"
                  title={`Open ${social.name} profile`}
                >
                  <Icon name={social.icon} width={24} height={24} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</footer>
<style>
  footer {
    --footer-bg: var(--theme-primary);
    --footer-color: var(--theme-on-primary);
    min-height: 40vh;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    border-top-left-radius: var(--theme-shape-radius);
    border-top-right-radius: var(--theme-shape-radius);
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
  }

  .footer-grid__container {
    padding: 5vh 0;
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .footer-socials__list {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center social links horizontally */
    list-style: none;
  }

  .footer-socials__item {
    margin: 0 0.5rem; /* Add equal spacing between social icons */
  }

  @media (max-width: 768px) {
    .footer-grid__container {
      padding: 5vh 0;
    }
  }
</style>