---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<head>
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-34P2FFFWXZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-34P2FFFWXZ');
        </script>
    </head>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerSocials={footerSocials}
		copyrightName={settings.name}
    showPlug={settings.showPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
